.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Node
node_modules/
dist/

# Python
__pycache__/
*.py[cod]
env/
venv/

# VSCode
.vscode/

# Env
.env

# Ruby / Rails
backend/config/master.key
backend/tmp/
backend/log/
backend/storage/*.sqlite3
backend/storage/*.sqlite3-shm
backend/storage/*.sqlite3-wal
backend/.bundle/
